name: CLR

on:
  workflow_dispatch:

env:
  FRIDA_COMPILER_MOD: subprojects/frida-core/src/compiler/go.mod

jobs:
  frida-clr-windows:
    name: Build Frida.dll (x86_64)
    runs-on: windows-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up environment
        uses: ./.github/actions/setup-windows-env
        with:
          aws-access-key-id: ${{ secrets.S3ACCESSKEY }}
          aws-secret-access-key: ${{ secrets.S3SECRETKEY }}
          cloudflare-email: ${{ secrets.CFEMAIL }}
          cloudflare-token: ${{ secrets.CFTOKEN }}
          architecture: x64

      - name: Grab frida-core
        run: python tools/ensure-submodules.py frida-core

      - name: Install Go toolchain
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ env.FRIDA_COMPILER_MOD }}
          cache-dependency-path: ${{ env.FRIDA_COMPILER_MOD }}

      - name: Build .NET bindings
        shell: pwsh
        run: |
          if (Test-Path build) { Remove-Item build -Recurse -Force }
          .\configure --prefix=$env:FRIDA_PREFIX --host=windows-x86_64 -md `
            --enable-frida-clr --disable-frida-python --disable-frida-tools `
            -- -Dfrida-core:compiler_backend=disabled
          make
          make install

      - name: Upload .NET bindings
        uses: actions/upload-artifact@v4
        with:
          name: frida-clr-windows-x86_64
          path: ${{ env.FRIDA_PREFIX }}/bin/Frida.dll
